<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stocks App</a>
      <!--<button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>-->
      <!--<button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>-->

    </div>

    <div *ngIf="!auth.authenticated()" class="collapse navbar-collapse pull-right">
      <button class="btn navbar-btn" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    </div>
    <div *ngIf="auth.authenticated() && auth.userProfile" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> 
            <strong>{{auth.userProfile.name}}</strong>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <ul class="dropdown-menu">
            <div class="container-fluid">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <!--<div class="col-lg-4">-->
                    <!--<img [src]="auth.userProfile.picture" alt="" class="profile-img">-->
                    <!--</div>-->
                    <div class="col-lg-8">
                      <p class="text-left"><strong>{{auth.userProfile.name}}</strong></p>
                      <p class="text-left small">{{auth.userProfile.email}}</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href="#" class="btn btn-danger btn-block" (click)="auth.logout()">Cerrar Sesion</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
<div class="container-fluid">

  <div class="row" *ngIf="auth.authenticated()">
    <div class="col-md-6">
      <input type="text" #stockToSave value="">
      <button class="btn btn-primary" (click)="saveUserStock(stockToSave.value)" >Track stock</button>
    </div>
  </div>
  <div class="row" *ngIf="auth.authenticated()">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="getUserStocks()" >Get user stocks</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" #companyLookupInput value="">
      <button class="btn btn-primary" (click)="companyLookup(companyLookupInput.value)" >Company lookup</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" #stockQuoteInput value="">
      <button class="btn btn-primary" (click)="stockQuote(stockQuoteInput.value)" >Stock quote</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let stock of userStocksArray">{{stock.data}}
          <a href="#" ><span class="glyphicon glyphicon-trash pull-right" (click)="deleteStockInfo(stock.key)">   </span></a>
          <a href="#" ><span class="glyphicon glyphicon-zoom-in pull-right" (click)="stockQuote(stock.data)">   </span></a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      {{userStocks}}
    </div>
  </div>
  <div class="row">
    {{stocks}}
  </div>
</div>



